mixin navigation(meta)  
  .container-fluid(class="#{meta.color}-bg")
    .header-dimmer(class="#{meta.color}-bg")
      .container
        .header
          .logo
            a(href="http://theironyard.com"): img(src="/images/iron-yard-logo.svg" style="preserveAspectRatio=MinYMin slice")
          .nav
            .primary-nav
              ul
                li 
                  a(href="/locations") Locations
                li
                  a(href="/academy") Academy
                li 
                  a(href="/accelerator") Accelerator
                li 
                  a(href="/events") Events
            
            .secondary-nav
              ul
                li
                  a(href="/about") About
                li 
                  a(href="/jobs") Jobs
                li
                  a(href="http://news.theironyard.com") News
                li
                  a(href="http://blog.theironyard.com") Blog
    
    div(class="#{meta.image ? 'image-header' : ''} #{meta.home ? 'image-header-home' : ''}", style="#{meta.image ? 'background:url('+meta.image+')   no-repeat center/cover transparent;' : ''}#{meta.gradient == false ? 'box-shadow: none;' : ''}")
      .container
        .sub-nav
          .col-xs-12
            if meta.links 
              h2= meta.title
              ul
                each link in meta.links
                  li 
                    a(href=link.url)= link.title
            else
              h2(style="margin-bottom:-20px")= meta.title

            if meta.triangle != false  
              if meta.cutout
                .triangle-cutout
              else
                .triangle(class="#{meta.color}-triangle")
